body {
    background-image: url('https://images.unsplash.com/photo-1720601015994-b0d68e0c5982?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-size:cover;
    font-size:2rem;
}
.edit
{
    color:white;
}

.navbar {
    width: 100vw;
    height: 10vh;
    background-color:black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;

}

h1, h2 {
    text-align: center;
   
    color:white;

}

form {
    text-align: center;
    margin-top: 20px;
}

#preview-area {
    text-align: center;
    margin-top: 20px;
}

#preview-image {
    max-width: 100%;
    height: auto;
    display: none;
    margin:auto;
}

#download-link {
    display: none;
    text-align: center;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: #45a049;
}


